{% extends 'base.html' %}

{% block content %}

    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h1 class="text-align-center">About Us</h1>
        <h3>
            This site is a fast and easy way to find weather details and forecasts in your area or across the nation. You can
            find todays weather conditions by accessing in the current weather section on the home page. To get a forecast for tomorrow
            simlpy click on the tomorrow weather conditions on the home page. Want to find where you are in the world or somewhere you know
            or maybe you have a file you wish to load. Simply click find your location on the home page. There is also a very useful help section
            that gives you useful links such as weather APIs, Django tutorials and useful articles and videos. Welcome!
        </h3>

    </div>
    </div>

{% endblock %}